@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0A192F;
  --color-navy: #0A192F;
  --color-gold: #FFD700;
  --color-slate: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: var(--color-navy);
  --color-gold: var(--color-gold);
  --color-slate: var(--color-slate);
  --font-montserrat: var(--next-font-montserrat), sans-serif;
  --font-roboto: var(--next-font-roboto), sans-serif;
  
  --animate-marquee: marquee 30s linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
